@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

html {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white
    
}

body {
    background-color: #333333;
    background-size: cover;
    background-position: none;
    margin: 0;
    padding: 0;
}

.headerdiv {
    position: fixed;
    width: 100%;
    height: 20%;
    text-align: center;
    justify-content: center;
    border-bottom: 2px solid white;
    font-size: x-large;
    background-color: #5555ff;
    z-index: 2;
}

.newscontainer {
    top: 190px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.4fr 0.3fr;
    position: relative;
    width: 100%;
    height: 1fr;
}

.newstext {
    font-size:x-large;
}

.hahatext {
    font-size:x-large;
}

.beotw {
    display: grid;
    padding: 2em;
    grid-row: 1 / span 3;
    grid-column: 1;
    align-items: start;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.25fr 4fr;
    column-gap: 20px;
    row-gap: 5px;
}

.beotwheader {
    text-align: center;
    
    grid-row: 1;
    grid-column: 1 / span 2;
}

.beotwimg {
    height: 400px;
    width: 200px;
    grid-column: 1;
    grid-row: 2;
    justify-content: start;
}
.beotwtext {
    text-align: left;
    grid-column: 2;
    grid-row: 2;
}

.game {
    padding: 2em;
    grid-column: 2;
    justify-content: start;
    border-left: 1px solid white;
    border-bottom: 2px solid white;
}

.rumours {
    padding: 2em;
    grid-column: 2;
    justify-content: start;
    border-left: 1px solid white;
    border-bottom: 2px solid white;
}

.other {
    padding: 2em;
    grid-column: 2;
    justify-content: start;
    border-left: 1px solid white;
    border-bottom: 2px solid white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: #555555
}

::-webkit-scrollbar-thumb:hover {
    background: #555555
}

a {
    text-decoration: none;
    color: white;
}